/* 메인 */
#main {
  margin-top: 200px;
  margin-left: 45px;
  
  border-radius: 20px;
  background-color: #accfda;
  text-align: left;
  width: 735px;
  height: 220px;
  position: absolute;
  top: 325px;
  left: 30px
}
button{
  outline: none;
}
input{
  outline: none;
}

/* 채팅 영역 */
#chat {
  height: 95%;
  width: 100%;
}

#기보 {
  margin-top: 24.5%;
  margin-left: 5%;
  height: 70%;
  width: 90%;
}

/* 접속 알림 */
.connect {
  width: 95%;
  margin: auto;
  background-color: aquamarine;
  text-align: left;
  margin-top: 6px;
}

/* 접속 종료 알림 */
.disconnect {
  width: 95%;
  margin: auto;
  background-color: indianred;
  text-align: left;
  margin-top: 6px;
}

/* 내가 보낸 메시지 */
.me {
  width: 95%;
  margin: auto;
  background-color: lemonchiffon;
  border-radius: 5px;
  margin-top: 6px;
}

/* 상대방이 보낸 메시지 */
.other {
  width: 95%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 6px;
}

.notice {
  width: 95%;
  margin: auto;
  background-color: rgb(98, 179, 255);
  border-radius: 5px;
  margin-top: 6px;
}

.기보{
  width: 85%;
  margin: auto;
  background-color: rgb(241, 230, 202);
  border-radius: 5px;
  font-weight: 675;
  color: rgb(41, 41, 41);
  margin-top: 2px;
  letter-spacing: 2.5px;
}



#menu{
  border-radius: 10px;
  background-color: lightgray;
  text-align: left;
  width: 290px;
  height: 440px;
  position: absolute;
  left: 520px;
  top: 80px
}

.no-drag {
  -ms-user-select: none; 
  -moz-user-select: -moz-none; 
  -webkit-user-select: none; 
  -khtml-user-select: none;
   user-select:none;}

#promo{
  position: absolute;
  left: 192.5px;
  top: 40px;
  display: none;
  z-index: 30000;
}
